.DS_Store
/.vs
Library
Temp
UnityPackageManager
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
*.exe
!/Assets/OVR/**/*.exe
*_Data
*.apk
*.app/
*.zip
obj
Subjects
*.json
*.csv
*.suo
HumanTest.unity
HumanTest.unity.meta
Screenshots/
BlackPeaStudios
BlackPeaStudios.meta
Objects/
Assets/Objects.meta
Pseudocodes/
Python/

!Experimental_conditions/*
